body {
  background-color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.titulo {
  color: rgb(240, 5, 220);
  text-align: center;
  padding: 20px;

  text-shadow: 0 0 20px #dedede;
}

#conteiner {
  display: grid;
  position: relative;
  padding: 30px;
  align-items: center;
}

#caixaTriangulo {
  display: grid;
  padding: 50px;
  place-items: center;
}

#triangulo {
  width: 300px;
  margin: auto;
}

input::placeholder {
  text-align: center;
  font-weight: bold;
  color: black;
}

input {
  width: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#bInput {
  left: 500px;
  top: 10px;
  text-align: center;
  font-weight: bold;
  color: black;
}

#aInput {
  position: relative;
  left: -200px;
  bottom: 120px;
  text-align: center;
  font-weight: bold;
}

#botao {
  height: 30px;
  font-weight: bold;
  background-color: #59c5d0;
  border-radius: 10px;
  justify-self: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-style: hidden;
}

#resultado {
  width: 40px;
  color: rgb(240, 5, 220);
  text-align: center;
  justify-self: center;
  font-weight: bold;
  font-family: sans-serif;
  left: 340px;
  bottom: 0px;
  margin-bottom: 30px;
}
